<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'character_list' %}">Characters</a></li>
                <li><a href="{% url 'upload_csv' %}">Upload CSV</a></li>
                <li><a href="{% url 'add_character' %}">Add Character</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>  <!-- Logout button -->
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
